@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, 'Rubik', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2{
  padding: .5rem;
  text-align: center;
  font-size: 42px;
  font-weight: 700;
}

img{
  padding:1rem;
}

h2, .subtitle{
  color:#94a3b8;
}